body{
    background-color: rgb(11, 149, 234);
}
ul li{
    list-style-type: none;
    text-decoration: none;
}
h1{
    color: aliceblue;
    margin-left: 300px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    color: aliceblue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left:300px;
}
img{
    height: 30px;
    width: 35px;
}